---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$base-font-family: 'Crimson Text', serif;
$title-font-family: 'Raleway', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.7;

// Colors
$text-color: #242423;
$brand-color: #f5cb5c;
$background-color: #f2efea;
$border-color: #cfdbd5;

$grey-color: lighten($text-color, 60%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

/* Grid system
 * Based on the work by Aleksandar Goševski
 */

 @mixin row() {
   font-size: 0;
   white-space: nowrap;
 }

 @mixin col($col, $sum, $align: top) {
   width: 100%;
   float: none;
   font-size: $base-font-size;
   box-sizing: border-box;
   white-space: normal;

   @media (min-width: $on-palm) {
     width: percentage($col/$sum);
     vertical-align: $align;
     float: left;
   }
}

// Import partials from the `minima` theme.
@import "minima";

.post-list {
  margin-top: $spacing-unit * 2;
  width: 150%;
  margin-left: -25%;
  @include row();

  @include media-query($on-palm) {
    width: 100%;
    margin-left: 0;
  }

  .post-card {
    @include col(1,2);

    &:nth-child(2n+1):before {
      content: " ";
      display: block;
      width: 100%;
      clear: both;
    }
  }
}

.post-card {
  position: relative;
  overflow: hidden;

  .post-info {
    width: 95%;
    background-color: $background-color;
    top: calc(100% - 50px);
    position: absolute;
    display: block;
    transition: top 500ms ease;
    margin: 0 auto;
    left: 2.5%;
    padding: 2.5rem .5rem;
    text-align: center;

    @include media-query($on-palm) {
      position: relative;
      top: 0;
      transition: none;
      width: 100%;
      padding: 0;
      margin: ($spacing-unit / 2) 0 $spacing-unit;
      left: 0;
    }

    .post-meta {
      display: block;
    }

    h2 {
      font-size: $base-font-size;
      font-style: normal;
      line-height: 1.2;
      font-weight: 700;
      display: inline-block;
    }
  }


  &:hover {
    .post-info {
      top: 60%;

      @include media-query($on-palm) {
        top: 0;
      }
    }
  }

  &.latest-post {
    .post-info {
      width: 70%;
      left: 15%;

      @include media-query($on-palm) {
        width: 100%;
        left: 0;
      }

      h2 {
        font-size: $base-font-size * 2;
      }
    }
  }
}
