---
layout: default
---
<article class="page" itemprop="mainEntity" id="blog" data-paginator-current="{{ paginator.page }}" data-paginator-total="{{ paginator.total_pages }}">
{% assign postsPerPage = site.paginate %}

{% if paginator.page == 1 %}
  {% assign postsOffset = 0 %}
  {% assign postsPerPage = postsPerPage | plus: 1 %}
{% else %}
  {% assign postsOffset = paginator.page | minus: 1 | times: postsPerPage | plus: 1 %}
{% endif %}

  {% for post in site.posts offset: postsOffset limit: postsPerPage %}
    {% if postsOffset == 0 and forloop.first == true %}
      <header class="page-header">
        <h1 class="headline">A nossa dica hoje é:</h1>
      </header>

      <div class="page-content">
        {% include post-card.html format="featured" %}

        <p class="site-description">{{ site.description }}</p>

    {% else %}
        <div class="post-list">
          {% include post-card.html format=standard %}
        </div>
        {% if postsOffset == 0 and forloop.last == true %}
      </div>
        {% endif %}
    {% endif %}
  {% endfor %}
</article>

<nav class="pagination">
  {% if paginator.next_page %}
  <a class="next-page pagination-link" href="javascript:void()">Veja mais dicas</a>
  {% else %}
  <span class="next-page pagination-link">&times; Isso é tudo, pessoal!<br />
    (amanhã tem mais)<br />
    :bread:</span>
  {% endif %}
</nav>
