<meta property="og:title" content="{{ page.title | strip_html | normalize_whitespace | default: site.title }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | normalize_whitespace | default: site.description }}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:site" content="{{ site.contact.twitter | prepend: '@' }}" />
{% if page.layout == 'post' %}
<meta property="og:type" content="article" />
<meta property="og:article:tag" content="{{ page.tags | split: ',' }}" />
<meta property="og:article:published_date" content="{{ page.date | date_to_xmlschema }}" />
{% if page.author %}
{% assign author = site.data.authors[page.author] %}
<meta property="og:article:author" content="{{ author.name }}" />
<meta name="twitter:creator" content="{{ author.twitter | prepend: '@' }}" />
{% endif %}
{% endif %}
{% if page.image %}
<meta property="og:image" content="{{ page.image.path }}" />
<meta property="og:image:alt" content="{{ page.image.alt }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:alt" content="{{ page.image.alt }}" />
{% else %}
<meta property="og:image" content="https://cldup.com/bb4lIeOhdW.jpg" />
<meta name="twitter:card" content="summary" />
{% endif %}
{% unless page.layout == 'post' %}
<meta property="og:type" content="website" />
{% endunless %}
