<meta property="og:title" content="{{ page.title | default: site.title }}" />
<meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | normalize_whitespace | truncate: 160 | default: site.description }}" />
<meta property="og:locale" content="pt_BR" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta name="twitter:site" content="{{ site.contact.twitter | prepend: '@' }}" />
{% if page.layout == 'post' %}
<meta property="og:type" content="article" />
<meta property="article:tag" content="{{ page.tags | split: ',' }}" />
<meta property="article:published_date" content="{{ page.date | date_to_xmlschema }}" />
{% else %}
<meta property="og:image" content="{{ '/assets/images/ogp.jpg' | absolute_url }}" />
<meta name="twitter:card" content="summary" />
{% endif %}
{% unless page.layout == 'post' %}
<meta property="og:type" content="website" />
{% endunless %}
