<article class="post-card featured" style="background-image: url({{ post.cover | prepend: '/assets/media/' | absolute_url }})">
  <header class="post-header">
    <span class="post-meta">
      <a class="post-category" href="{{ post.category | slugify | prepend: '/arquivos/' | append: '/' | relative_url }}">{{ post.category | capitalize }}</a>
      <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d.%m.%y" }}</time>
    </span>
    <h1 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
  </header>
  <div class="post-content">
    <p>{{ post.excerpt | strip_html }}</p>
  </div>
</article>
