{% assign author = site.data.authors[post.author] %}
<article class="content">
  <header class="content-head wrapper">
    <p class="content-meta categories">
      {% if post.category.first %}
        {% for category in post.category %}
          <a href="{{ category | slugify: 'pretty' | append: '/' | prepend: '/sabores/' | relative_url }}" rel="tag">
            {{ category }}</a> {% unless forloop.last %} / {% endunless %}</a>
        {% endfor %}
      {% else %}
        <a href="{{ post.category | slugify: 'pretty' | append: '/' | prepend: '/sabores/' | relative_url }}" rel="tag">{{ post.category }}</a>
      {% endif %}
    </p>

    <h1 class="content-title">
      <a href="{{ post.url | relative_url }}" rel="bookmark">
        {{ post.title }}
      </a>
    </h1>

    <p class="content-meta">
      <a href="{{ author.twitter | prepend: 'https://twitter.com/' }}" rel="author">
        <img src="https://avatars.io/twitter/{{ author.twitter }}" alt="Foto de {{ author.name }}" />
        {{ author.name }}
      </a>
      &middot;
      <a href="{{ post.url | relative_url }}" rel="bookmark">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d/%m/%Y" }}</time>
      </a>
    </p>
  </header>

  <div class="content-body wrapper">
    {{ post.excerpt | strip_html | normalize_whitespace | truncatewords: 50 | markdownify }}
  </div>
</article>
