{% assign author = site.author %}
{% assign comments = site.data.comments[post.id] | size %}

<article class="post">
  <header class="post-header">
    {% if post.image %}
    <figure class="post-image" style="background-image: url('{{ post.image.path }}');" role="banner">
      <img itemprop="contentUrl" src="{{ post.image.path }}" alt="{{ post.image.alt }}" />
    </figure>
    {% endif %}

    <time class="post-meta post-date" itemprop="datePublished" datetime="{{ post.date | date: date_to_xmlschema }}">{{ post.date | date: '%d/%m/%y' }}</time>

    <h1 class="post-title" itemprop="name headline"><a href="{{ post.url | relative_url }}" rel="bookmark" itemprop="url">{{ post.title }}</a></h1>

    <div class="post-description">{{ post.excerpt | markdownify }}</div>
  </header>

  {% include elements/post-info.html %}
</article>
