@font-face {
    font-family: 'Libre Baskerville';
    src: url('hinted-LibreBaskerville-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('hinted-LibreFranklin-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('hinted-LibreBaskerville-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('hinted-LibreBaskerville-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Franklin';
    src: url('hinted-LibreFranklin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

