{% unless page.comments == false %}
  <div id="comments" class="post_comments">
    <script>
      var idcomments_acct = '6ae418e3eb18f57269d1ea3c4bf3e4cb';
      var idcomments_post_id = "{{ post.date | date: "%s" }}";
      var idcomments_post_url = "{{ post.url | absolute_url }}";
      </script>
      <span id="IDCommentsPostTitle" style="display:none"></span>
      <script type='text/javascript' src='https://www.intensedebate.com/js/genericCommentWrapperV2.js'></script>
  </div>
{% endunless %}
