{% raw %}
<form id="contact_form" class="contact_form" method="post" action="https://formspree.io/f/mayljlrw">
  <div class="wrapper_message">
    <label for="contato-mensagem">Mensagem:</label><br />
    <textarea id="contato-mensagem" class="contact-textarea" name="message" required placeholder="Você pode abrir seu coração aqui :)"></textarea>
  </div>
  <div class="wrapper_field name">
    <label for="contato-nome">Nome:</label><br />
    <input id="contato-nome" type="text" name="name" placeholder="Manteiga" required />
  </div>
  <div class="wrapper_field email">
    <label for="contato-email">Email:</label><br />
    <input id="contato-email" type="email" name="email" placeholder="seu@email.com" required />
  </div>
  <div class="wrapper_field submit">
    <button id="form_submit" type="submit">
      Enviar
    </button>
  </div>
  <p id="submit_status" class="wrapper-message">
    
  </p>
</form>
{% endraw %}
