<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicons/apple-touch-icon.png?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicons/favicon-32x32.png?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/images/favicons/favicon-16x16.png?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}" sizes="16x16">
<link rel="manifest" href="{{ '/assets/images/favicons/manifest.json?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}">
<link rel="mask-icon" href="{{ '/assets/images/favicons/safari-pinned-tab.svg?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}" color="#f5cb5c">
<link rel="shortcut icon" href="{{ '/assets/images/favicons/favicon.ico?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}">
<meta name="msapplication-config" content="{{ '/assets/images/favicons/browserconfig.xml?v=m2drWNyBq0' | prepend: site.baseurl | prepend: site.url }}">
<meta name="theme-color" content="#cfdbd5">
