<footer class="site-footer">
  <div class="colophon">
    <p class="about">{{ site.description }}</p>

    <div class="license">
      <a href="{{ site.url }}/">{{ site.title }}</a>
      &middot; Todos os direitos dos textos são reservados aos respectivos autores.
      &middot; <a href="{{ 'humans.txt' | prepend: site.baseurl }}">humans.txt</a><br />
      Feito com amor pelo <a href="http://arthr.me/" rel="designer">Arthur</a>.
    </div>
  </div>

  <ul class="contact">
    {% if site.contact.email %}
    <li>
      <a href="mailto:{{ site.contact.email }}" class="email"><i class="fa  fa-envelope-o fa-2x"></i></a>
    </li>
    {% endif %}
    {% if site.contact.twitter %}
    <li>
      <a href="https://twitter.com/{{ site.contact.twitter }}" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
    </li>
    {% endif %}
    {% if site.contact.facebook %}
    <li>
      <a href="https://www.facebook.com/{{ site.contact.facebook }}" class="facebook"><i class="fa fa-facebook-f fa-2x"></i></a>
    </li>
    {% endif %}
    <li>
      <a href="{{ site.baseurl }}/feed.xml" class="rss"><i class="fa fa-rss  fa-2x"></i></a>
    </li>
  </ul>
</footer>
