<footer id="pcm" class="site-footer">
    <dl class="site-info" itemprop="publisher" itemscope itemtype="http://schema.org/Organization" itemref="branding">
      <dt itemprop="name"><a itemprop="url" href="{{ '/' | absolute_url }}">{{ site.title }}</a></dt>
      <dd itemprop="description">{{ site.description }}</dd>
      <dd><a href="http://tinyletter.com/paomortadela">Assine a nossa newsletter</a> e receba as dicas por email.</dd>
      <meta itemprop="logo" content="{{ '/assets/img/logo.gif' | absolute_url }}" />
    </dl>
    <ul class="social-links">
      <li aria-label="Assine nosso RSS"><a href="{{ '/feed.xml' | absolute_url }}">{% include svg/rss.svg %}</a></li>
      <li aria-label="Envie-nos um email"><a href="mailto:{{ site.email }}">{% include svg/mail.svg %}</a></li>
      <li aria-label="Twitter"><a href="https://twitter.com/{{ site.twitter }}">{% include svg/twitter.svg %}</a></li>
      <li aria-label="Facebook"><a href="https://www.facebook.com/{{ site.facebook }}">{% include svg/facebook.svg %}</a></li>
    </ul>
    <p class="site-credits"><a href="{{ '/' | absolute_url }}">{{ site.title }}</a> &middot; Todos os direitos dos textos são reservados a seus respectivos autores &middot; <a role="author" href="{{ '/humans.txt' | absolute_url }}">humans.txt</a>.</p>
</footer>
