<footer class="colophon">
  <div class="wrapper">
    <div class="footer_widgets">
      <div class="site_description">
        {{ site.description | markdownify }}
      </div>
    
      <form action="https://tinyletter.com/paomortadela" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/!paomortadela', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p>
          <label for="tlemail">Nos sábados a gente envia uma newsletter</label>
        </p>
        <p class="newsletter_fields">
          <input type="email" name="email" id="tlemail" placeholder="seu@email.com" required />
          <input type="hidden" value="1" name="embed">
          <input type="submit" value="Assinar">
        </p>
        <p class="newsletter_credits">
          <a href="https://tinyletter.com/paomortadela" rel="external">TinyLetter</a>
        </p>
      </form>
    </div>
    
    <p class="site_credits">
      &copy; 2013—{{ "now" | date: "%Y" }} <a href="{{ site.url }}" rel="index">{{ site.title }}</a> ~ Os direitos dos textos são reservados aos respectivos autores.
    </p>
  </div>
</footer>
