<head>
  <meta charset="{{ site.charset }}" />
  <meta name="google-site-verification" content="UfVsLDHK_53R85Kjji9NyyMbgE5Le9qjtkEVnD7TQWE" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title | strip_html }} ~ {% endif %}{{ site.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description | strip_html }}" />
  {% else %}
  <meta name="description" content="{{ site.description | strip_html }}" />
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} ~ RSS" href="{{ site.url }}/feed.xml" />
  <link rel="author" type="text/plain" href="{{ 'humans.txt' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'assets/css/style.css' | prepend: site.baseurl }}" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="//brick.a.ssl.fastly.net/Montserrat:400,700/Vollkorn:400,700,400i,700i/Libre+Bodoni:700" />
  <script type="text/javascript" src="//code.jquery.com/jquery-2.2.1.min.js"></script>
  <script type="text/javascript" src="{{ 'assets/js/modernizr.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/js/lunr.js' | prepend: site.baseurl }}"></script>
  <script src="{{ 'assets/js/main.js' | prepend: site.baseurl }}"></script>

  {% include opengraph.html %}
  {% include twittercards.html %}
  {% include favicons.html %}
</head>
