<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  
  {%- if page.title and page.title != "" -%}
    <title>{{- page.title }} ({{- site.title -}})</title>
  {%- else -%}
    <title>{{- site.title }} ~ {{ site.tagline -}}</title>
  {%- endif -%}
  {%- seo title=false -%}
  
  <link rel="shortcut icon" type="image/png" href="{%- link assets/images/favicon.png -%}" />
  <link rel="apple-touch-icon" type="image/png" href="{%- link assets/images/apple-touch-icon.png -%}">
  <link rel="stylesheet" type="text/css" href="{{- "/assets/css/main.css" | relative_url -}}" />
  {% feed_meta %}
  <script data-ad-client="ca-pub-6140421780025442" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
