<header class="masthead">
  <div class="wrapper">
    {% if page.title %}
      <div class="site_title">
        <a href="{{ '/' | absolute_url }}" rel="index">
          <img src="{% link assets/images/logo.png %}" alt="" />
          {{ site.title }}
        </a>
      </div>
    {% else %}
      <h1 class="site_title">
        <a href="{{ '/' | absolute_url }}" rel="index">
          <img src="{% link assets/images/logo.png %}" alt="" />
          {{ site.title }}
        </a>
      </h1>
    {% endif %}

    {% include menu.html %}
  </div>
  {% include wave.svg %}
</header>
