<section class="latest_links">
  <h2>Misc. &mdash; links atualizados constantemente</h2>

  <ul class="links_list">
    {% assign sorted_links = site.links | sort: "date" | reverse %}

    {% for link in sorted_links limit: 8 %}

      {% assign link_source = link.source | remove: "http://" | remove: "https://" | remove: "www." | split: "/" | first %}

      <li>
        <a href="{{ link.source }}" rel="external">
          <strong>{{ link.title }}</strong> &middot; {{ link.content | remove: "<p>" | remove: "</p>" | normalize_whitespace }}<br />
          <code>({{ link_source }})</code>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
