/*
  Basics
*/

html {
  font-size: 62.5%; // 10px = 1rem;
  font-family: $font-headings;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-background;
  color: $color-text;
  font: normal #{1.6rem}/#{1.5} $font-headings;
  width: 100vw;
  overflow-x: hidden;
}


// Resets some basic styling
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/*
  Text Elements
*/

.post_content {
  font-size: 1.8rem;
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
  }
  
  h1, h2, h3, h5, h6, h6,
  p, ul, ol, dl,
  pre, table {
    &:not(.full-width) {
      padding-left: 3rem;
      padding-right: 5rem;
      
      @include media-query($on-palm) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  
  p, ul, ol, dl,
  blockquote, pre,
  figure, iframe {
    margin-bottom: $spacing-unit;
  }
  
  p, ul, ol, dl,
  blockquote {
    font-family: $font-content;
  }
}

// Blockquotes
blockquote {
  font-weight: 700;
  font-style: italic;
  text-align: right;
  color: $color-accent;
  
  @include media-query($on-palm) {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
  
  &:first-child,
  &.pull {
    float: right;
    max-width: 360px;
    margin-left: $spacing-unit * 2;
    
    @include media-query($on-palm) {
      float: none;
      max-width: none;
      margin-left: 0;
    }
  }
  
  &:not(:first-child):not(.pull) {
    border-left: 3px solid $color-accent;
    border-right: 3px solid $color-accent;
  }
  
  p, ul, ol {
    padding-left: 0;
    padding-right: 0;
  }
  
  ul, ol {
    list-style: none;
  }
  
  cite {
    font: #{400} #{1.4rem}/#{1.5} $font-headings;
    color: rgba($color-text, 0.7);
  }
}

// Headings
h1, h2, h3, h4, h5, h6 {
  line-height: 1.45;
}

h1, h2, h3 {
  font-weight: 400;
}

h4, h5, h6 {
  font-weight: 900;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
}

// Lists

ul, ol, dl {
  margin-left: $spacing-unit;
}

ul,
ol {
  ul, ol {
    margin-bottom: 0;
  }
  
  li:not(:last-child) {
    margin-bottom: $spacing-unit / 2;
  }
}

ul {
  list-style: square;
  
  ul {
    list-style: disc;
  }
}

ol {
  list-style: decimal;
  
  ol {
    list-style: lower-alpha;
  }
}

// Links
a {
  color: currentColor;
  text-decoration: none;
  transition: color 250ms ease;
  
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.post_content a {
  text-decoration: underline;
  text-decoration-color: $color-accent;
  text-decoration-style: wavy;
}

// Multimedia

img {
  max-width: 100%;
  height: auto;
}

.full-width img {
  width: 100%;
}

iframe, video, object {
  max-width: 100%;

  &.full-width {
    width: 100%;
  }
}

img + em {
  font: 400 #{1.2rem}/#{1.25} $font-headings;
  color: rgba($color-text, 0.7);
  display: block;
  max-width: 600px;
}

// Horizontal rule

hr {
  margin-top: $spacing-unit * 3;
  margin-bottom: $spacing-unit * 3;
  display: block;
  width: 100%;
  height: 0;
  border-top: 1px dashed $color-accent;
  transform: rotate(-2deg);
}

// Forms

input[type="text"],
input[type="search"] {
  -webkit-appearance: none;
  border: 1px solid rgba($color-text, 0.2);
  border-radius: 0;
  padding: $spacing-unit / 4;
  background: transparent;
  font: inherit;
  cursor: text;
}

button[type="submit"] {
  -webkit-appearance: none;
  border: 1px solid $color-header;
  border-radius: 0;
  padding: $spacing-unit / 4 $spacing-unit / 2;
  font: inherit;
  font-family: $font-headings;
  color: $color-background;
  background: $color-accent;
  cursor: pointer;
  transition: background-color 350ms ease;
  
  &:hover,
  &:focus {
    background-color: $color-header;
  }
}
