/*
  Site Container
*/

#site {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  
  .masthead,
  .colophon {
    flex: 0 0 auto;
  }
  
  .content {
    flex: 1 0 auto;
  }
}

.wrapper {
  max-width: calc(#{$content-width} - #{$spacing-unit});
  padding-left: $spacing-unit / 2;
  padding-right: $spacing-unit / 2;
  margin-left: auto;
  margin-right: auto;
}

/*
  Site Header
*/

.masthead {
  background-color: $color-header;
  color: $color-background;
  text-align: center;
  padding-top: $spacing-unit;
  
  .site_title {
    font-size: 3.2rem;
    font-weight: 900;
    margin-bottom: 0;
    
    img {
      vertical-align: bottom;
      width: auto;
      height: 64px;
      margin-right: $spacing-unit / 2;
      
      @include media-query($on-palm) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    
    a {
      color: $color-background;
      text-decoration: none;
    }
  }
  
  .site_menu {
    margin-top: $spacing-unit / 4;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 1.4rem;
    
    @include media-query($on-palm) {
      padding: $spacing-unit / 2;
      margin-left: -$spacing-unit / 2;
      margin-right: -$spacing-unit / 2;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      justify-content: flex-start;
    }
    
    a {
      text-decoration: none;
      display: inline-block;
      flex: 0 0 auto;
      
      &:not(:last-child) {
        margin-right: $spacing-unit;
      }
      
      svg {
        height: 1.6rem;
        width: 1.6rem;
        fill: currentColor;
      }
    }
  }
  
  .wave {
    line-height: 0;
    display: block;
  }
}

/*
  Site Content
*/
.content {
  z-index: 2;
  background: $color-background;
  box-shadow: 0 8px 0 rgba($color-text, 0.2);
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
  
  .post {
    &:not(:last-child) {
      margin-bottom: $spacing-unit * 2;
      padding-bottom: $spacing-unit * 2;
      border-bottom: 1px dashed rgba($color-text, 0.2);
    }
    
    .post_header {
      margin-bottom: $spacing-unit;
      
      .post_title {
        font-size: 2.7rem;
      }
      
      a {
        &:hover,
        &:focus {
          color: $color-accent;
        }
      }
      
      .post_meta {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        
        @include media-query($on-palm) {
          flex-flow: column nowrap;
          justify-content: flex-start;
          
          .post_actions {
            margin-bottom: $spacing-unit / 4;
            margin-top: $spacing-unit / 4;
          }
        }
      }
    }
    
    .post_content {
      max-width: 700px;
      
      
      .chat {
        padding-left: 0;
        list-style: none;
      }
    }
    
    .post_footer {
      margin-top: $spacing-unit;
      
      .post_info {
        margin-bottom: $spacing-unit / 2;
      }
      
      .post_tags {
        p {
          font-size: 1.1rem;
          text-transform: uppercase;
          color: rgba($color-text, 0.4);
        }
        
        ul {
          list-style: none;
          margin-left: 0;
          padding: 0;
          font-size: 1.6rem;
          
          li {
            display: inline-block;
            
            &:not(:last-child) {
              &::after {
                padding-left: $spacing-unit / 4;
                padding-right: $spacing-unit / 4;
                content: "/";
                color: rgba($color-text, 0.2);
              } 
            }
          }
        }
      }
    }
    
    .post_info {
      font-size: 1.1rem;
      text-transform: uppercase;
      color: rgba($color-text, 0.4);
      
      .info:not(:last-child) {
        margin-right: $spacing-unit / 2;
      }
    }
  }
}

.reblog_info,
.question_info {
  font-size: 1.4rem;
  font-weight: normal;
  
  *,
  p {
    font-family: $font-headings;
  }
  
  .portrait {
    margin-right: $spacing-unit / 2;
    border-radius: 50%;
  }
  
  a {
    font-weight: bolder;
  }
}

.post_contents {
  margin-top: $spacing-unit * 2;
}

.audio_info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: $spacing-unit;
  
  .album_art {
    width: 100px;
    height: 100px;
    margin-right: $spacing-unit;
    
    @include media-query($on-palm) {
      width: 75px;
      height: 75px;
      margin-right: $spacing-unit / 2;
    }
  }
}

.pagination {
  @include media-query($on-palm) {
    display: flex;
    justify-content: center;
  }
  
  a {
    display: inline-block;
    padding: $spacing-unit / 6 $spacing-unit / 4;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    background: rgba($color-text, 0.4);
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: ease;
    border-radius: 2px;
    
    &:not(:last-child) {
      margin-right: $spacing-unit / 2;
    }
  }
  
  .archive_link,
  .random_link {
    background: none;
    padding: 0;
    letter-spacing: normal;
    font-weight: normal;
    text-decoration: none;
    
    @include media-query($on-palm) {
      display: none;
    }
  }
}

/*
  Site Footer
*/
.colophon {
  background: $color-footer;
  color: $color-background;
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit * 2;
  font-family: $font-content;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  a {
    text-decoration-color: $color-header;
    
    &:hover,
    &:focus {
      color: $color-header;
    }
  }
  
  .footer_widgets {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: $spacing-unit;
    font-size: 1.4rem;
    
    @include media-query($on-palm) {
      display: block;
      text-align: center;
      font-size: 1.4rem;
      
      .site_description {
        margin-bottom: $spacing-unit;
      }
    }
    
    .newsletter_fields {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      
      @include media-query($on-palm) {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
      }
      
      input[type="email"],
      input[type="submit"] {
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        border: 1px solid $color-background;
        font-family: $font-headings;
        opacity: 0.75;
        transition: opacity 250ms ease;
        line-height: 1.5;
        padding: $spacing-unit / 4;
      
        &:hover,
        &:focus {
          opacity: 1;
        }
      }
    
      input[type="email"] {
        background-color: transparent;
        color: $color-background;
        flex: 1 0 auto;
      
        &::placeholder {
          color: $color-background;
        }
      }
    
      input[type="submit"] {
        padding: $spacing-unit / 4 $spacing-unit / 2;
        background-color: $color-background;
        color: $color-accent;
        transition-property: background-color, color, opacity;
        transition-duration: 250ms;
        transition-timing-function: ease;
        flex: 0 0 auto;
      
        &:hover,
        &:focus {
          background-color: $color-header;
          color: $color-background;
        }
      }
    }
    
    .newsletter_credits {
      font-size: 1.2rem;
    }
  }
  
  .site_credits {
    font-size: 1.2rem;
  }
}
