@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


@mixin row() {
  white-space: nowrap;
}

@mixin col($col, $sum, $align: top) {
  width: 100%;
  float: none;
  box-sizing: border-box;
  white-space: normal;

  @media (min-width: $on-palm) {
    width: percentage($col/$sum);
    vertical-align: $align;
    float: left;
  }
}
