---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
$base-font-family: 'Crimson Text', serif;
$title-font-family: 'Raleway', sans-serif;
$base-font-size: 1.8rem;
$base-font-weight: 400;
$base-line-height: 1.7;

$small-font-size: $base-font-size * .875;

// Colors
$text-color: #242423;
$brand-color: #f5cb5c;
$background-color: #f2efea;
$border-color: #cfdbd5;
$grey-color: lighten($text-color, 60%);
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 90%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;

$spacing-unit: 3rem;

// Import partials from the `minima` theme.
@import
  "mixins",
  "base",
  "layout";
