/*
    Basic Structure.
*/

body {
  border-top: .3rem solid $color-brand;
  display: flex;
  flex-flow: column wrap;
  text-shadow: 0 .1rem .3rem rgba($color-text, 0.25);
}

.site-header,
.site-content {
  flex: 0 0 auto;
}

.site-footer {
  flex: 1 0 auto;
}

/*
    Site Header
*/
.site-header {
  background: $color-background;
  border-bottom: .1rem solid $color-grey;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  text-align: center;

  // Branding
  .site-title {
    font-size: calc(#{$font-size-base} * 1.5);
    font-weight: 900;
    text-decoration: none;
    line-height: 0;
    padding-top: 10rem;
    background-image: url("images/logo.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }

  // Navigation
  .main-menu {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    justify-content: center;
    font: 700 #{$font-size-small}/#{$font-line-height} $font-family-main;
    margin-top: $spacing-unit / 2;
    text-transform: lowercase;

    @include on-palm {
      justify-content: flex-start;
      padding: $spacing-unit / 2;
    }

    a {
      &:not(:first-child) {
        margin-left: $spacing-unit;
      }
    }

    svg {
      height: calc(#{$font-size-small} * #{$font-line-height});
      width: calc(#{$font-size-small} * #{$font-line-height});
    }
  }
}

/*
    Site Content
*/
.site-content {
  @extend %container;
  margin-top: $spacing-unit;


  // The Post
  .post {
    .post-header {
      text-align: center;
      margin-bottom: $spacing-unit;

      // Cover Image
      .post-image {
        height: 20rem;
        background-position: top center;
        background-repeat: repeat;
        background-size: contain;

        img {
          width: auto;
          max-height: 20rem;
        }
      }

      // Post Title
      .post-title {
        font-weight: 300;
      }

      .post-description {
        color: $color-grey;
        font-style: italic;
      }
    }

    // Post Information
    .post-header,
    .post-footer {
      .post-meta {
        font: 400 #{$font-size-small}/#{$font-line-height} $font-family-main;
        color: $color-grey;
      }
    }

    // Post Content
    .post-content {
      text-align: justify;

      blockquote:first-child {
        text-align: left;
        font: italic 700 calc(#{$font-size-base} * #{1.25})/#{1.25} $font-family-main;
        color: $color-brand;

        @include on-palm {
          text-align: center;
        }

        @include on-laptop {
          float: right;
          margin: 0 (-$spacing-unit * 2) 0 $spacing-unit;
          width: 25rem;
        }
      }
    }
  }
}
