{% raw %}
<form class="contact_form" method="post" name="Contato" action="/sobre/sucesso/" netlify>
  <input type="hidden" name="form-name" value="Contato" />
  <div class="wrapper_message">
    <label for="contato-mensagem">Mensagem:</label><br />
    <textarea id="contato-mensagem" class="contact-textarea" name="Mensagem" required placeholder="Você pode abrir seu coração aqui :)"></textarea>
  </div>
  <div class="wrapper_field name">
    <label for="contato-nome">Nome:</label><br />
    <input id="contato-nome" type="text" name="Nome" placeholder="Manteiga" required />
  </div>
  <div class="wrapper_field email">
    <label for="contato-email">Email:</label><br />
    <input id="contato-email" type="email" name="Email" placeholder="seu@email.com" required />
  </div>
  <div class="wrapper_field submit">
    <button type="submit">
      Enviar
    </button>
  </div>
</form>
{% endraw %}
