---
layout: default
---
<div class="wrapper">
  <header class="archive-header">
    <h1 class="page-title">{{ page.title | capitalize }}</h1>

    {%- if page.type == "category" -%}
      {% assign category = site.data.categories[page.title] %}

      {%- if category.description -%}
        <div class="archive-description">
          {{ category.description | markdownify }}
        </div>
      {%- endif -%}
    {%- endif -%}
  </header>

  <div class="blog">
    <div class="posts-list">
      {%- for post in page.posts -%}
        {%- include loop.html -%}
      {%- endfor -%}
    </div>

    {%- include sidebar.html -%}
  </div>
</div>
