---
layout: default
---
<div class="blog posts-list">
  {% for post in site.posts limit: 1 %}
  {% assign author = site.data.authors[post.author] %}
  <article class="post">
    <header class="lazy" data-src="{{ post.image.path }}">
      <div class="wrapper">
        <h1>
          <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
        </h1>

        <p class="post-meta">
          <time datetime="{{ post.date | date: 'date_to_xmlschema' }}">{{  post.date | date: '%d/%m/%Y' }}</time>
          &middot; <a rel="author" href="{{ author.twitter | prepend: 'https://twitter.com/' }}">{{ author.name }}</a>
        </p>
      </div>

      {% if post.image %}
        <img data-src="{{ post.image.path }}" alt="{{ post.image.alt }}" />
      {% endif %}
    </header>

    <div class="post-content wrapper">
      {{ post.content }}
    </div>

    <footer class="wrapper">
      <p class="post-meta"><strong>Tags:</strong> {{ post.tags | join: ', ' }} &middot; <a href="{{ post.url | append: '#comentar' }}">Comente!</a></p>
    </footer>
  </article>
  {% endfor %}

  {% for post in site.posts offset: 1 %}
  <article class="older-post lazy" data-src="{{ post.image.path }}">
    <div class="wrapper">
      <h1>
        <a href="{{ post.url }}" rel="bookmark">{{ post.title }}</a>
      </h1>
      <p class="post-meta">
        <time datetime="{{ post.date | date: 'date_to_xmlschema' }}">{{  post.date | date: '%d/%m/%Y' }}</time></a>
      </p>
    </div>

    {% if post.image %}
    <img data-src="{{ post.image.path }}" alt="{{ post.image.alt }}" />
    {% endif %}
  </article>
  {% endfor %}
</div>
