<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}

    <main class="content">
      {{ content }}
    </main>

    {% include footer.html %}

    <script type="text/javascript" src="{{ '/assets/scripts/embeds.js' | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.6.0/lazyload.min.js"></script>
    <script>
    var lazy = new LazyLoad({
      elements_selector: ".lazy",
    });
    var lazyimg = new LazyLoad();
    </script>
  </body>
</html>
