---
layout: default
---
{% assign author = site.data.authors[page.author] %}
<article class="content">
  <header class="content-head wrapper">
      <p class="content-meta categories">
        {% if page.category.first %}
          {% for category in page.category %}
            <a href="{{ category | slugify: 'pretty' | append: '/' | prepend: '/sabores/' | relative_url }}" rel="tag">{{ category }}</a> {% unless forloop.last %} / {% endunless %}</a>
          {% endfor %}
        {% else %}
          <a href="{{ category | first | slugify: 'pretty' | append: '/' | prepend: '/sabores/' | relative_url }}" rel="tag">{{ category | first }}</a>
        {% endif %}
      </p>

      <h1 class="content-title">{{ page.title }}</h1>

      <p class="content-meta">
        <a href="{{ author.twitter | prepend: 'https://twitter.com/' }}" rel="author">
          <img src="https://avatars.io/twitter/{{ author.twitter }}" alt="Foto de {{ author.name }}" />
          {{ author.name }}
        </a>
        &middot;
        <a href="{{ page.url | relative_url }}" rel="bookmark">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d/%m/%Y" }}</time>
        </a>
      </p>
  </header>

  {% if page.image %}
  <figure class="content-image">
    <img src="{{ page.image }}" alt="{{ page.title | strip_html | normalize_whitespace }}" />
  </img>
  {% endif %}

  <div class="content-body wrapper">
    {{ content }}
  </div>

  {%- if page.tags -%}
  <footer class="content-footer wrapper">
    <p class="content-meta">
      Publicado em
      {% for tag in page.tags %}
        <a href="{{ tag | slugify: 'pretty' | prepend: '/tags/' | append: '/' | relative_url }}" rel="tag">{{ tag }}</a>{% unless forloop.last %}, {%- else -%}.{%- endunless -%}
      {% endfor %}
    </p>
  </footer>
  {% endif %}

  {% unless page.comments == 'false' %}
  {% include parts/comments.html %}
  {% endunless %}
</article>
