---
layout: default
---
{% assign author = site.data.authors[page.author] %}

<article class="post">
  <header>
    <div class="wrapper">
      <h1>
        <a href="{{ page.url }}" rel="bookmark">{{ page.title }}</a>
      </h1>

      <p class="post-meta">
        <time datetime="{{ page.date | date: 'date_to_xmlschema' }}">{{  page.date | date: '%d/%m/%Y' }}</time>
        &middot; <a rel="author" href="{{ author.twitter | prepend: 'https://twitter.com/' }}">{{ author.name }}</a>
      </p>
    </div>

    {% if page.image %}
    <img src="{{ page.image.path }}" alt="{{ page.image.alt }}" />
    {% endif %}
  </header>

  <div class="post-content wrapper">
    {{ content }}
  </div>

  <footer class="wrapper">
    <p class="post-meta"><strong>Tags:</strong> {{ page.tags | join: ', ' }}</p>
  </footer>

  {% unless page.comments == 'false' %}
  {% include comments.html %}
  {% endunless %}

  {% if page.next or page.previous %}
  <nav>
    {% if page.previous.path %}
    <p class="nav-link prev"><strong>Antes disso:</strong>
    <a href="{{ page.previous.url | relative_url }}" rel="prev">{{ page.previous.title }}</a></p>
    {% endif %}
    {% if page.next.path %}
    <p class="nav-link next"><strong>A seguir:</strong> <a href="{{ page.next.url | relative_url }}" rel="next">{{ page.next.title }}</a></p>
    {% endif %}
  </nav>
  {% endif %}
</article>
