/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}



// Basic styling
body {
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  font-size: $base-font-size;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

hr {
  width: 100%;
  margin: $spacing-unit 0;
  border: none;
  height: .1rem;
  background-color: $border-color;
}

// Vertical rhythm.
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

// Images
img {
  vertical-align: middle;
  max-width: 100%;
}

// Figures
figure {
  & > img {
    display: block;
  }

  figcaption {
    font-size: $small-font-size;
    font-style: italic;
    color: $grey-color;
  }
}

// Lists
ul, ol {
  margin-left: $spacing-unit;
}

ul {
  list-style: square;
}

ol {
  list-style: decimal;

  ol ol {
    list-style: lower-roman;
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

// Headings
h1, h2, h3,
h4, h5, h6 {
  font-weight: 800;
  font-family: $title-font-family;
}

// Links
a:not(.site-logo):not(.icon) {
  background: linear-gradient($background-color,$background-color), linear-gradient($background-color,$background-color), linear-gradient($brand-color,$brand-color);
  background-size: .05em .1rem,.05em .1rem,.1rem .1rem;
  background-repeat: no-repeat,no-repeat,repeat-x;
  text-shadow: .03em 0 $background-color, -.03em 0 $background-color, 0 .03em $background-color, 0 -.03em $background-color, .06em 0 $background-color, -.06em 0 $background-color, .09em 0 $background-color, -.09em 0 $background-color, .12em 0 $background-color, -.12em 0 $background-color, .15em 0 $background-color, -.15em 0 $background-color;
  background-position: 0 95%,100% 95%,0 95%;
  text-decoration: none;
  color: $text-color;
  transition: color 160ms ease, background 160ms ease, text-shadow 160ms ease;

  &:hover {
    color: $brand-color;
    text-shadow: none;
    background: none;
  }
}

// Blockquotes
blockquote {
  color: $grey-color-dark;
  font-size: $base-font-size * 1.2;
  padding-left: $spacing-unit / 2;
  letter-spacing: .1rem;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

blockquote:first-child {
  float: right;
  width: 40%;
  margin-right: -10%;
  font-family: $title-font-family;
  font-weight: 800;
  display: inline;
  background-color: $brand-color;
  color: $background-color;
  transform: rotate(-3deg);
  margin-left: 1rem;
  line-height: 1.4;
  padding: 1rem ($spacing-unit / 2);

  @include media-query($on-laptop) {
    margin-right: 0;
  }

  @include media-query($on-palm) {
    float: none;
    display: block;
    width: 100%;
    transform: rotate(-1deg);
    margin-left: 0;
  }
}


// Code
pre,
code {
  font-size: 1.6rem;
}

code {
  padding: .1rem .5rem;
}

pre {
  padding: .8rem 1.2rem;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

// Select
::selection {
  background-color: $brand-color;
  text-shadow: none;
  color: $background-color;
}

::-moz-selection {
  background-color: $brand-color;
  text-shadow: none;
  color: $background-color;
}

// Videos
.video-wrapper {
  margin-bottom: $spacing-unit;
  overflow: hidden;
  position: relative;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



// Wrapper
.wrapper {
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

// Icons
.icon > svg {
  display: inline-block;
  vertical-align: -.2rem;

  path {
    fill: $border-color;
  }

  &:hover {
    path {
      fill: $text-color;
    }
  }
}
