<footer class="colophon">
  <div class="wrapper">
    <div class="site-info">
      <p>{{ site.description }}</p>
    </div>

    <nav class="contact">
      <a href="{{ site.contact.email | prepend: 'mailto:' }}">{% include symbol.svg id="email" role="img" title="Email" %}</a>
      <a href="{{ '/feed.xml' | absolute_url }}">{% include symbol.svg id="rss" role="img" title="RSS" %}</a>
      <a href="{{ site.contact.twitter | prepend: 'https://twitter.com/' }}" rel="external">{% include symbol.svg id="twitter" role="img" title="Twitter" %}</a>
      <a href="{{ site.contact.facebook | prepend: 'https://www.facebook.com/' }}" rel="external">{% include symbol.svg id="facebook" role="img" title="Facebook" %}</a>
    </nav>

    <p class="credits">
      <a href="{{ site.url }}">{{ site.title }}</a>. Todos os direitos dos textos são <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/" rel="license">reservados</a> aos respectivos autores. &middot; <a href="{{ '/humans.txt' | relative_url }}">humans.txt</a>
    </p>
  </div>
</footer>
