{% if site.data.comments[page.slug] or page.comments != false %}
  <section id="comments" class="post_comments">
    <h2 class="comments-title">
      Comentários
    </h2>

    {% if site.data.comments[page.slug] %}
      <ol class="comments-list">

        {% assign comments = site.data.comments[page.slug] | sort: date %}

        {% for comment in comments %}
          {% assign comment_body = comment | last %}
          <li class="comment-item">
            <section class="comment">
              <header class="comment-meta">
                <img class="author-avatar" src="//www.gravatar.com/avatar/{{ comment_body.email }}?d=identicon&s=64" alt="" />
                <h5 class="author">
                  {% if comment_body.website %}
                    <a href="{{ comment_body.website }}" rel="author">
                      {{ comment_body.name }}
                    </a>
                  {% else %}
                    {{ comment_body.name }}
                  {% endif %}
                </h5>

                <time datetime="{{ comment_body.date | date_to_xmlschema }}" class="comment-date">
                  {{ comment_body.date | date: "%d/%m/%Y às %k:%M" }}
                </time>
              </header>

              <div class="comment-body">
                {{ comment_body.message | markdownify }}
              </div>
            </section>
          </li>
        {% endfor %}

      </ol>
    {% endif %}

    {% include post/comment-form.html %}
  </section>
{% endif %}
