<!DOCTYPE html>
<html lang="{{- site.lang | replace: "_","-" -}}">
  {%- include head.html -%}
  <body>
    <div id="site">
      {%- include header.html -%}
      
      <main class="content">
        <div class="wrapper">
          <div class="blog">
            {{ content }}
          </div>
        </div>
      </main>
      
      
      {%- include footer.html -%}
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_path }}"></script>
  </body>
</html>
