<!DOCTYPE html>
<html lang="{{- site.lang -}}">
  {% include head.html %}
  <body>
    <div id="site">
      {% include_cached header.html %}

      <main class="content">
        <div class="wrapper">
          <div class="blog">
            {{ content }}
          </div>

          {% unless page.layout == "page" %}
            {% include_cached sidebar.html %}
          {% endunless %}
        </div>
      </main>


      {% include_cached footer.html %}
    </div>
    <script id="site-scripts" src="{% link assets/js/scripts.js %}"></script>
    {% if page.layout == "post" %}
      <script>
        initComments({
          node: document.getElementById("comment-section"),
          defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
          serverName: "cactus.chat",
          siteName: "paomortadela",
          commentSectionId: "{{ post.slug }}"
        })
        </script>
    {% endif %}
  </body>
</html>
