---
layout: default
---
<article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemref="pcm">
  <header class="post-header">
    <div class="post-cover">
      <img itemprop="image" src="{{ page.cover | prepend: '/assets/media/' | absolute_url }}" alt="{{ page.product }}" />
    </div>

    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% assign author = site.data.authors[page.author] %}
    <p class="post-excerpt">{{ page.description }} (Por <a rel="author" itemprop="author" itemscope itemtype="http://schema.org/Person" href="{{ author.twitter }}"><span class="author" itemprop="name">{{ author.name }}</span></a>).</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <footer class="post-meta">
    #{{ page.index }} &middot;
    <span itemprop="keywords">{{ page.category }}</span> &middot; <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%m-%Y" }}</time>
  </footer>

  <nav class="post-list">
    {% if page.previous.url %}
    {% include post-card.html format="previous" %}
    {% endif %}

    {% if page.next.url %}
    {% include post-card.html format="next" %}
    {% endif %}
  </nav>


  {% if site.disqus %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
